/* VARIABLES */
:root {
    /* COLOR VARIABLES */
    --main-bg-pink: #af125b;
    --main-bg-light: #f1f1f2;
    --primary-hover-color: #f5d3ef;
    --standard-border: #a6a4a4;
    --standard-button-color: #efb5b5;
    --button-hover-color: #6f044b;
    /* TEXT VARIABLES */
    --text-black: #252528;
    --text-white: #FFFFFF;
    /* --body-font: 'Inter';
    --heading-font: 'Lobster'; */
    --standard-width: 1144px;

    --standard-border-radius: 10px;
    --circle-border-radius: 50px;
}

/* GENERAL ELEMENT STYLES */
body {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-light);
}

h1 {
    text-align: center;
    font-weight: lighter;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--main-bg-pink);
    font-size: 28px;
}

h2 {
    text-align: center;
}

/* LAYOUT STYLES */

/* BOARD STYLES */

.board {
    display: flex;
    border: 1px solid var(--standard-border);
    justify-content: space-around;
    align-items: center;
    border-radius: var(--standard-border-radius);
    margin: 3px 10px;
    background-color: var(--main-bg-light);
}

.board div {
    border: 1px solid var(--standard-border);
    height: 20px;
    width: 20px;
    border-radius: var(--circle-border-radius);
    margin: 10px
}

.board-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-board {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/* Player Board Styles */

.playersBoard {
    order: 2;
}

/* Feedback Board Styles */

.f-board {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 44px;
    height: 44px;
    grid-gap: 10px;

    background-color: rgba(78, 70, 89, 0.824);

    padding: 5px;
    border-radius: var(--standard-border-radius);
    box-sizing: border-box;
}

.f-board div {
    border: 1px solid var(--standard-border);
    background-color: rgb(38, 38, 38);
    border-radius: var(--circle-border-radius);
}

/* Sample Board Styles */

.sampleBoard {
    flex-direction: column;
    width: 10px;
    order: 1;
    margin-bottom: 28px;
}

#sample-board div {
    border: transparent 2px solid;
}

#sample-board div:hover {
    border: var(--text-black) 2px solid;
    cursor: pointer;
}


/* Button Styles */

#check {
    width: 40px;
    height: 40px;
    background-color: #af125b;
    padding: 10px 0px;
    padding-top: 14px;
    border-radius: var(--standard-border-radius);
    box-sizing: border-box;
}

#check:hover {
    background-color: rgb(48, 48, 110);
    cursor: pointer;
}

#check:hover .button {
    color: #f5d3ef;
}

#check .button {
    color: white;
    font-size: 11px;
    font-weight: 800;
    display: block;
    position: relative;
    transform: rotate(-45deg);
}

.controlButtons {
    max-width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controlButton {
    color: var(--main-bg-pink);
    background-color: var(--button-color);
    border: 1px solid var(--main-bg-pink);
    padding: 5px 7px;
    display: inline-block;
    border-radius: 10px;
    font-weight: 700;
    font-size: 12px;
}

.controlButton:hover {
    cursor: pointer;
    color: var(--button-hover-color);
    background-color: var(--standard-button-color);
}

.controlButton a {
    color: var(--standard-button-color);
    text-decoration: none;
}

.controlButton:hover a {
    color: var(--button-hover-color);
}

/* GENERAL STYLES */

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -100;
}

.light-bg {
    background-color: var(--main-bg-light);
}

.red {
    background-color: rgb(155, 6, 108);
}

.purple {
    background-color: rgb(130, 77, 116);
}

.green {
    background-color: rgb(0, 127, 115);

}

.blue {
    background-color: rgb(73, 105, 137);
}

.yellow {
    background-color: rgb(249, 232, 151);
}

.orange {
    background-color: rgb(246, 153, 92);
}

.transparent {
    background-color: white;
}


@media only screen and (min-width: 600px) {
    h1 {
        font-size: 28px;
    }

    .f-board,
    .board div {
        width: 64px;
        height: 64px;
    }

    .f-board {
        width: 90px;
        height: 90px;
    }

    #check {
        padding-top: 26px;
        padding-left: 5px;
        width: 90px;
        height: 90px;
    }

    #check .button {
        font-size: 20px;
    }

    .sampleBoard {
        flex-direction: column;
        width: auto;
        order: 1;
        margin-bottom: 0px;
    }

    .controlButtons {
        max-width: 300px;
    }
}